doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='copyright', content='Copyright (c) 2016 Kairion')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Jira Release Manager
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href="#") Help
          form.navbar-form.navbar-right
            select#selectRepo.form-control
              each rep in repositories.all
                option(selected=(repositories.selected == rep), value='#{rep}') #{rep}

    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          ul.nav.nav-sidebar
            each item in menuItems
              if item.id == menuSelected
                li(id= item.id).active
                  a(href= item.href)= item.name
              else
                li(id= item.id)
                  a(href= item.href)= item.name

        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          block content

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/js.cookie.js')
    script(src='/javascripts/common.js')
    script(src='/bower_components/moment/min/moment.min.js')
    script(src='/bower_components/moment/locale/de.js')
    script(src='/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')