//- Show a single status (inside the status box)
mixin status(type, repo, elements)
    if  elements.length == 0
        div
            span(class="#{statusClasses['Default']}") No entry yet
            a(href=tag + '/' + repo + '/' + type + '/add', data-toogle="tooltip", title="Add status").btn.btn-default.btn-xs
                span(aria-hidden="true").glyphicon.glyphicon-plus
    else
        each el, index in elements
            div
                span(data-toogle="tooltip", title="#{el.status}" class="#{statusClasses[el.status]}") #{el.date} #{el.author}
                a(href=tag +'/'+ repo +'/'+ type +'/remove/'+ el.id, data-toogle="tooltip", title="Remove status").btn.btn-default.btn-xs
                    span(aria-hidden="true").glyphicon.glyphicon-remove
                if index == 0
                    a(href=tag + '/' + repo + '/' + type + '/add', data-toogle="tooltip", title="Add status").btn.btn-default.btn-xs
                        span(aria-hidden="true").glyphicon.glyphicon-plus

//- Show status box
mixin releaseStatus(docs)
    .well
        .status.row.header
            .col-xs-1
            .col-xs-4
                strong Testing
            .col-xs-4
                strong Live
        each doc in docs
            .status.row
                .col-xs-1= doc.repo
                .col-xs-4
                    +status('testing', doc.repo, doc.release.testing)
                .col-xs-4
                    +status('deploy', doc.repo, doc.release.deploy)