
mixin modalAddStatus(modalId, formTarget, hiddenValues)
    a(data-toggle="modal", title="Add Status", data-target="#" + modalId).btn.btn-default.btn-xs
        span(aria-hidden="true").glyphicon.glyphicon-plus
    div(id=modalId, tabIndex="-1", role="dialog", aria-labelledby="Login", aria-hidden="true").modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button(type="button", data-dismiss="modal", aria-label="Close").close
                        span(aria-hidden="true").glyphicon.glyphicon-remove
                    h4.modal-title Add Status for #{hiddenValues.repo} #{hiddenValues.tag} #{hiddenValues.type}
                form(action=formTarget method="post")#add-status
                    .modal-body
                        input(type="hidden", name="repo", value=hiddenValues.repo)#repo
                        input(type="hidden", name="tag", value=hiddenValues.tag)#tag
                        input(type="hidden", name="type", value=hiddenValues.type)#type
                        .form-group
                            label(for="status") Status
                            select(name="status").form-control#status
                                option Works
                                option Inactive
                                option Fails
                        .form-group
                            label(for="date") Date
                            .input-group.input-append.date.datetimepicker
                                input(type="text", name="date").form-control
                                span.input-group-addon
                                    span.glyphicon.glyphicon-calendar
                        .form-group
                            label(for="author") Author
                            input(type="text", name="author").form-control#author
                    .modal-footer
                        button(type="submit").btn.btn-primary Save
                        button(data-dismiss="modal").btn.btn-default Cancel

//- Show a single status (inside the status box)
mixin status(type, repo, elements)
    if  elements.length == 0
        div
            span(class="#{statusClasses['Default']}") No entry yet
            +modalAddStatus('add-modal-' + repo + '-' + type, '/releases/plan/add/status', { repo: repo, tag: tag, type: type })
    else
        each el, index in elements
            div
                span(data-toogle="tooltip", title="#{el.status}" class="#{statusClasses[el.status]}") #{el.date} #{el.author}
                a(href=tag +'/'+ repo +'/'+ type +'/remove/'+ el.id, data-toogle="tooltip", title="Remove status").btn.btn-default.btn-xs
                    span(aria-hidden="true").glyphicon.glyphicon-remove
                if index == 0
                    +modalAddStatus('add-modal-' + repo + '-' + type, '/releases/plan/add/status', { repo: repo, tag: tag, type: type })
    

//- Show status box
mixin releaseStatus(docs)
    .well
        .status.row.header
            .col-xs-1
                strong Repository
            .col-xs-4
                strong Testing
            .col-xs-4
                strong Live
        each doc in docs
            .status.row
                .col-xs-1= doc.repo
                .col-xs-4
                    +status('testing', doc.repo, doc.release.testing)
                .col-xs-4
                    +status('deploy', doc.repo, doc.release.deploy)